# 2021 March Madness Bracket Predictor

### Predicts and generates a 2021 March Madness bracket.

Developers:
- Brady Lange (03/06/2021)

## Libraries

In [1]:
# Import standard libraries
import os
import pandas as pd
import numpy as np

# Configure settings
# pd.set_option("display.max.columns", None)
# pd.set_option("display.precision", 2)

## Load Data

In [2]:
data_dir_path = os.path.abspath(os.path.join("..", "data"))

data_file_paths = {}

for file in os.listdir(data_dir_path):
    if file.endswith(".csv"):
        data_file_paths[file[:-4]] = os.path.join(data_dir_path, file)

cities_df = pd.read_csv(data_file_paths["cities"])
conferences_df = pd.read_csv(data_file_paths["conferences"])
m_conference_tourney_games_df = pd.read_csv(data_file_paths["m_conference_tourney_games"])
m_game_cities_df = pd.read_csv(data_file_paths["m_game_cities"])
m_massey_ordinals_df = pd.read_csv(data_file_paths["m_massey_ordinals"])
m_ncaa_tourney_compact_results_df = pd.read_csv(data_file_paths["m_ncaa_tourney_compact_results"])
m_ncaa_tourney_detailed_results_df = pd.read_csv(data_file_paths["m_ncaa_tourney_detailed_results"])
m_ncaa_tourney_seed_round_slots_df = pd.read_csv(data_file_paths["m_ncaa_tourney_seed_round_slots"])
m_ncaa_tourney_seeds_df = pd.read_csv(data_file_paths["m_ncaa_tourney_seeds"])
m_ncaa_tourney_slots_df = pd.read_csv(data_file_paths["m_ncaa_tourney_slots"])
m_regular_season_compact_results_df = pd.read_csv(data_file_paths["m_regular_season_compact_results"])
m_regular_season_detailed_results_df = pd.read_csv(data_file_paths["m_regular_season_detailed_results"])
m_sample_submission_stage_1_df = pd.read_csv(data_file_paths["m_sample_submission_stage_01"])
m_seasons_df = pd.read_csv(data_file_paths["m_seasons"])
m_secondary_tourney_compact_results_df = pd.read_csv(data_file_paths["m_secondary_tourney_compact_results"])
m_secondary_tourney_teams_df = pd.read_csv(data_file_paths["m_secondary_tourney_teams"])
m_team_coaches_df = pd.read_csv(data_file_paths["m_team_coaches"])
m_team_conferences_df = pd.read_csv(data_file_paths["m_team_conferences"])
# Windows codepage 1252 encoded file
m_team_spellings_df = pd.read_csv(data_file_paths["m_team_spellings"], encoding="cp1252")
m_teams_df = pd.read_csv(data_file_paths["m_teams"])

## Explore Data

In [3]:
def explore_df(df, title="Data Frame"):
    """
    Explores a specified Pandas data frame by printing out all of it's metrics
    and information neatly.
    
    Args:
        df (pandas.DataFrame): Pandas Data Frame to explore.
        title (str): Title/name of data frame. Default is 'Data Frame'.
        
    Returns:
        None: Nothing.
    """
    print("======================================================================")
    print("{0}:".format(title))
    print("======================================================================")
    print("Data Type:")
    print("----------------------------------------------------------------------")
    print(type(df), "\n")
    print("First 5 Rows:")
    print("----------------------------------------------------------------------")
    print(df.head(), "\n")
    print("Last 5 Rows:")
    print("----------------------------------------------------------------------")
    print(df.tail(), "\n")
    print("Description:")
    print("----------------------------------------------------------------------")
    print(df.describe(include=np.object), "\n")
    print("Information:")
    print("----------------------------------------------------------------------")
    df.info()
    print("\nNumber of Rows & Columns (Rows, Columns):")
    print("----------------------------------------------------------------------")
    print(df.shape, "\n")
    print("Number of Rows:")
    print("----------------------------------------------------------------------")
    print(len(df), "\n")
    print("Number of Elements (Rows x Columns):")
    print("----------------------------------------------------------------------")
    print(df.size, "\n")
    print("Columns:")
    print("----------------------------------------------------------------------")
    print(df.columns, "\n")
    for column in df.columns:
        print("Column:")
        print("----------------------------------------------------------------------")
        print(column, "\n")
        print("'{0}' Value Counts:".format(column))
        print("----------------------------------------------------------------------")
        print(df[column].value_counts(), "\n")
        print("Minimum '{0}' Value:".format(column))
        print("----------------------------------------------------------------------")
        print(df[column].min(), "\n")
        print("Maximum '{0}' Value:".format(column))
        print("----------------------------------------------------------------------")
        print(df[column].max(), "\n")
    print("Null Values:")
    print("----------------------------------------------------------------------")
    print(df.isnull().sum(), "\n")
    
explore_df(df=cities_df, title="Cities")
explore_df(df=conferences_df, title="Conferences")
explore_df(df=m_conference_tourney_games_df, title="Men's Conference Tourney Games")
explore_df(df=m_game_cities_df, title="Men's Game Cities")
explore_df(df=m_massey_ordinals_df, title="Men's Massey Ordinals")
explore_df(df=m_ncaa_tourney_compact_results_df, title="Men's NCAA Tourney Compact Results")
explore_df(df=m_ncaa_tourney_detailed_results_df, title="Men's NCAA Tourney Detailed Results")
explore_df(df=m_ncaa_tourney_seed_round_slots_df, title="Men's NCAA Tourney Seed Round Slots")
explore_df(df=m_ncaa_tourney_seeds_df, title="Men's NCAA Tourney Seeds")
explore_df(df=m_ncaa_tourney_slots_df, title="Men's NCAA Tourney Slots")
explore_df(df=m_regular_season_compact_results_df, title="Men's Regular Season Compact Results")
explore_df(df=m_regular_season_detailed_results_df, title="Men's Regular Season Detailed Results")
explore_df(df=m_sample_submission_stage_1_df, title="Men's Sample Submission Stage 1")
explore_df(df=m_seasons_df, title="Men's Seasons")
explore_df(df=m_secondary_tourney_compact_results_df, title="Men's Secondary Tourney Compact Results")
explore_df(df=m_secondary_tourney_teams_df, title="Men's Secondary Tourney Teams")
explore_df(df=m_team_coaches_df, title="Men's Team Coaches")
explore_df(df=m_team_conferences_df, title="Men's Team Conferences")
explore_df(df=m_team_spellings_df, title="Men's Team Spellings")
explore_df(df=m_teams_df, title="Men's Teams")

======================================================================
Cities:
======================================================================
Data Type:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>

First 5 Rows:
----------------------------------------------------------------------
   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

Last 5 Rows:
----------------------------------------------------------------------
     CityID          City State
448    4471       Midland    TX
449    4472  Riviera Maya    MX
450    4473     St. James    JA
451    4474      Victoria    BC
452    4475    Wilmington    DE

Description:
----------------------------------------------------------------------
               City State
count           453   453
unique          425    63
top     Springfield    NY
freq              4    30

Information:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CityID  453 non-null    int64
 1   City    453 non-null    object
 2   State   453 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.7+ KB

Number of Rows & Columns (Rows, Columns):
----------------------------------------------------------------------
(453, 3)

Number of Rows:
----------------------------------------------------------------------
453

Number of Elements (Rows x Columns):
----------------------------------------------------------------------
1359

Columns:
----------------------------------------------------------------------
Index(['CityID', 'City', 'State'], dtype='object')

Column:
----------------------------------------------------------------------
CityID

'CityID' Value Counts:
----------------------------------------------------------------------
4095    1
4264    1
4238    1
4239    1
4240    1
       ..
4423    1
4424    1
4425    1
4426    1
4096    1
Name: CityID, Length: 453, dtype: int64

Minimum 'CityID' Value:
----------------------------------------------------------------------
4001

Maximum 'CityID' Value:
----------------------------------------------------------------------
4475

Column:
----------------------------------------------------------------------
City

'City' Value Counts:
----------------------------------------------------------------------
Springfield    4
Charleston     4
Greenville     3
Huntsville     2
Normal         2
              ..
Savannah       1
Garden City    1
Pocatello      1
Santa Clara    1
Nassau         1
Name: City, Length: 425, dtype: int64

Minimum 'City' Value:
----------------------------------------------------------------------
Abilene

Maximum 'City' Value:
----------------------------------------------------------------------
Ypsilanti

Column:
----------------------------------------------------------------------
State

'State' Value Counts:
----------------------------------------------------------------------
NY    30
FL    27
CA    26
TX    26
NC    17
      ..
SK     1
AK     1
VT     1
CI     1
GY     1
Name: State, Length: 63, dtype: int64

Minimum 'State' Value:
----------------------------------------------------------------------
AK

Maximum 'State' Value:
----------------------------------------------------------------------
WY

Null Values:
----------------------------------------------------------------------
CityID    0
City      0
State     0
dtype: int64

======================================================================
Conferences:
======================================================================
Data Type:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>

First 5 Rows:
----------------------------------------------------------------------
  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

Last 5 Rows:
----------------------------------------------------------------------
   ConfAbbrev                    Description
46   sun_belt            Sun Belt Conference
47       swac  Southwest Athletic Conference
48        swc           Southwest Conference
49        wac    Western Athletic Conference
50        wcc          West Coast Conference

Description:
----------------------------------------------------------------------
       ConfAbbrev          Description
count          51                   51
unique         51                   51
top           ecc  Southern Conference
freq            1                    1

Information:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ConfAbbrev   51 non-null     object
 1   Description  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes

Number of Rows & Columns (Rows, Columns):
----------------------------------------------------------------------
(51, 2)

Number of Rows:
----------------------------------------------------------------------
51

Number of Elements (Rows x Columns):
----------------------------------------------------------------------
102

Columns:
----------------------------------------------------------------------
Index(['ConfAbbrev', 'Description'], dtype='object')

Column:
----------------------------------------------------------------------
ConfAbbrev

'ConfAbbrev' Value Counts:
----------------------------------------------------------------------
ecc           1
wcc           1
mwc           1
mid_cont      1
metro         1
mw_city       1
gsc           1
cusa          1
ecacm         1
horizon       1
a_sun         1
ecacs         1
meac          1
ecacn         1
big_west      1
swac          1
big_twelve    1
sun_belt      1
wac           1
big_ten       1
big_east      1
summit        1
southern      1
gmwc          1
pcaa          1
mw_coll       1
nac           1
acc           1
gwc           1
nec           1
maac          1
a_ten         1
awc           1
sec           1
caa           1
patriot       1
swc           1
asc           1
big_sky       1
aac           1
pac_twelve    1
mvc           1
aec           1
big_south     1
ovc           1
ind           1
mac           1
southland     1
pac_ten       1
big_eight     1
ivy           1
Name: ConfAbbrev, dtype: int64

Minimum 'ConfAbbrev' Value:
----------------------------------------------------------------------
a_sun

Maximum 'ConfAbbrev' Value:
----------------------------------------------------------------------
wcc

Column:
----------------------------------------------------------------------
Description

'Description' Value Counts:
----------------------------------------------------------------------
Southern Conference                             1
Western Athletic Conference                     1
Metropolitan Collegiate Athletic Conference     1
North Atlantic Conference                       1
Ivy League                                      1
Sun Belt Conference                             1
Summit League                                   1
Pacific Coast Athletic Association              1
Big Sky Conference                              1
Ohio Valley Conference                          1
Colonial Athletic Association                   1
Conference USA                                  1
Atlantic Coast Conference                       1
Pacific-12 Conference                           1
Great West Conference                           1
Big West Conference                             1
Mid-Continent Conference                        1
Mid-Eastern Athletic Conference                 1
West Coast Conference                           1
Atlantic 10 Conference                          1
Missouri Valley Conference                      1
Midwestern Collegiate Conference                1
Metro Atlantic Athletic Conference              1
Great Midwest Conference                        1
American Athletic Conference                    1
Midwestern City Conference                      1
Big 12 Conference                               1
Southwest Conference                            1
Mid-American Conference                         1
American South Conference                       1
Big East Conference                             1
Horizon League                                  1
Northeast Conference                            1
Mountain West Conference                        1
American West Conference                        1
Southwest Athletic Conference                   1
Southeastern Conference                         1
East Coast Conference                           1
Patriot League                                  1
Eastern Collegiate Athletic Conference Metro    1
America East Conference                         1
Pacific-10 Conference                           1
Big Ten Conference                              1
Independent                                     1
Southland Conference                            1
Big Eight Conference                            1
Atlantic Sun Conference                         1
Big South Conference                            1
Eastern Collegiate Athletic Conference South    1
Eastern Collegiate Athletic Conference North    1
Gulf Star Conference                            1
Name: Description, dtype: int64

Minimum 'Description' Value:
----------------------------------------------------------------------
America East Conference

Maximum 'Description' Value:
----------------------------------------------------------------------
Western Athletic Conference

Null Values:
----------------------------------------------------------------------
ConfAbbrev     0
Description    0
dtype: int64

======================================================================
Men's Conference Tourney Games:
======================================================================
Data Type:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>

First 5 Rows:
----------------------------------------------------------------------
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273

Last 5 Rows:
----------------------------------------------------------------------
      Season ConfAbbrev  DayNum  WTeamID  LTeamID
5303    2020        wcc     124     1362     1334
5304    2020        wcc     124     1388     1337
5305    2020        wcc     126     1211     1362
5306    2020        wcc     126     1388     1140
5307    2020        wcc     127     1211     1388

Description:
----------------------------------------------------------------------
       ConfAbbrev
count        5308
unique         36
top           sec
freq          223

Information:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5308 entries, 0 to 5307
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      5308 non-null   int64
 1   ConfAbbrev  5308 non-null   object
 2   DayNum      5308 non-null   int64
 3   WTeamID     5308 non-null   int64
 4   LTeamID     5308 non-null   int64
dtypes: int64(4), object(1)
memory usage: 207.5+ KB

Number of Rows & Columns (Rows, Columns):
----------------------------------------------------------------------
(5308, 5)

Number of Rows:
----------------------------------------------------------------------
5308

Number of Elements (Rows x Columns):
----------------------------------------------------------------------
26540

Columns:
----------------------------------------------------------------------
Index(['Season', 'ConfAbbrev', 'DayNum', 'WTeamID', 'LTeamID'], dtype='object')

Column:
----------------------------------------------------------------------
Season

'Season' Value Counts:
----------------------------------------------------------------------
2018    298
2017    294
2016    288
2019    288
2014    286
2015    282
2012    276
2011    274
2010    273
2013    272
2009    269
2008    265
2007    264
2006    261
2005    259
2002    254
2004    254
2003    251
2001    241
2020    159
Name: Season, dtype: int64

Minimum 'Season' Value:
----------------------------------------------------------------------
2001

Maximum 'Season' Value:
----------------------------------------------------------------------
2020

Column:
----------------------------------------------------------------------
ConfAbbrev

'ConfAbbrev' Value Counts:
----------------------------------------------------------------------
sec           223
a_ten         220
acc           218
mac           217
cusa          216
big_east      216
big_ten       210
meac          205
southern      204
sun_belt      194
big_twelve    194
caa           186
maac          182
mvc           180
mwc           166
big_south     164
horizon       158
wcc           155
patriot       153
aec           151
wac           143
a_sun         141
ovc           140
nec           139
swac          137
big_west      133
southland     131
big_sky       124
pac_twelve     92
summit         90
pac_ten        81
aac            60
mid_cont       49
gwc            20
ivy             9
mw_coll         7
Name: ConfAbbrev, dtype: int64

Minimum 'ConfAbbrev' Value:
----------------------------------------------------------------------
a_sun

Maximum 'ConfAbbrev' Value:
----------------------------------------------------------------------
wcc

Column:
----------------------------------------------------------------------
DayNum

'DayNum' Value Counts:
----------------------------------------------------------------------
129    1003
130     764
124     592
128     526
123     411
131     404
125     366
122     274
126     269
127     267
120     166
121     159
132      91
119      16
Name: DayNum, dtype: int64

Minimum 'DayNum' Value:
----------------------------------------------------------------------
119

Maximum 'DayNum' Value:
----------------------------------------------------------------------
132

Column:
----------------------------------------------------------------------
WTeamID

'WTeamID' Value Counts:
----------------------------------------------------------------------
1211    42
1181    40
1436    39
1443    38
1246    38
        ..
1244     2
1342     2
1343     2
1136     1
1128     1
Name: WTeamID, Length: 345, dtype: int64

Minimum 'WTeamID' Value:
----------------------------------------------------------------------
1101

Maximum 'WTeamID' Value:
----------------------------------------------------------------------
1464

Column:
----------------------------------------------------------------------
LTeamID

'LTeamID' Value Counts:
----------------------------------------------------------------------
1365    20
1456    20
1464    20
1362    20
1359    20
        ..
1128     2
1335     2
1463     2
1343     1
1165     1
Name: LTeamID, Length: 349, dtype: int64

Minimum 'LTeamID' Value:
----------------------------------------------------------------------
1102

Maximum 'LTeamID' Value:
----------------------------------------------------------------------
1466

Null Values:
----------------------------------------------------------------------
Season        0
ConfAbbrev    0
DayNum        0
WTeamID       0
LTeamID       0
dtype: int64

======================================================================
Men's Game Cities:
======================================================================
Data Type:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>

First 5 Rows:
----------------------------------------------------------------------
   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027

Last 5 Rows:
----------------------------------------------------------------------
       Season  DayNum  WTeamID  LTeamID   CRType  CityID
60161    2020     128     1389     1233  Regular    4017
60162    2020     128     1393     1314  Regular    4136
60163    2020     128     1402     1111  Regular    4309
60164    2020     128     1412     1427  Regular    4414
60165    2020     128     1450     1160  Regular    4188

Description:
----------------------------------------------------------------------
         CRType
count     60166
unique        3
top     Regular
freq      58758

Information:
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60166 entries, 0 to 60165
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   60166 non-null  int64
 1   DayNum   60166 non-null  int64
 2   WTeamID  60166 non-null  int64
 3   LTeamID  60166 non-null  int64
 4   CRType   60166 non-null  object
 5   CityID   60166 non-null  int64
dtypes: int64(5), object(1)
memory usage: 2.8+ MB

Number of Rows & Columns (Rows, Columns):
----------------------------------------------------------------------
(60166, 6)

Number of Rows:
----------------------------------------------------------------------
60166

Number of Elements (Rows x Columns):
----------------------------------------------------------------------
360996

Columns:
----------------------------------------------------------------------
Index(['Season', 'DayNum', 'WTeamID', 'LTeamID', 'CRType', 'CityID'], dtype='object')

Column:
----------------------------------------------------------------------
Season

'Season' Value Counts:
----------------------------------------------------------------------
2019    5603
2018    5539
2017    5535
2016    5516
2014    5508
2015    5499
2013    5466
2012    5399
2010    5389
2011    5384
2020    5328
Name: Season, dtype: int64

Minimum 'Season' Value:
----------------------------------------------------------------------
2010

Maximum 'Season' Value:
----------------------------------------------------------------------
2020

Column:
----------------------------------------------------------------------
DayNum

'DayNum' Value Counts:
----------------------------------------------------------------------
96     1629
89     1607
75     1598
103    1571
117    1565
       ...
147      14
150      13
133      11
154      10
151       9
Name: DayNum, Length: 153, dtype: int64

Minimum 'DayNum' Value:
----------------------------------------------------------------------
1

Maximum 'DayNum' Value:
----------------------------------------------------------------------
154

Column:
----------------------------------------------------------------------
WTeamID

'WTeamID' Value Counts:
----------------------------------------------------------------------
1246    330
1242    330
1211    329
1181    324
1455    296
       ...
1465     29
1467     19
1466     18
1445      8
1147      7
Name: WTeamID, Length: 356, dtype: int64

Minimum 'WTeamID' Value:
----------------------------------------------------------------------
1101

Maximum 'WTeamID' Value:
----------------------------------------------------------------------